<div class="side-nav">
    <ul>
        @if (userRole == "admin"){
            @for(url of urls; track url){
                <li>
                    <a routerLink="/{{url.url}}">{{url.page}}</a>
                </li>
            }
        }@else if (userRole == "user") {
            @for(url of urls; track url){
                @if (url.role !== "admin"){
                    <li>
                        <a routerLink="/{{url.url}}">{{url.page}}</a>
                    </li>
                }
            }
        }@else {
            @for(url of urls; track url){
                @if (url.role == ""){
                    <li>
                        <a routerLink="/{{url.url}}">{{url.page}}</a>
                    </li>
                }
            }
        }

    </ul>
</div>
