<div class="dashboard">
  <div class="dashboard-img">
    <img
    ngSrc="ROK-image.jpg"
    alt="rok-dashboard-img"
    width="1980"
    height="1080"
    priority
  />
  </div>
  <div class="dashboard-contents">
    <div class="dashboard-aoo">
        <ul>
            <li>オシリス登録ページ</li>
            <li>オシリスメンバー表</li>
        </ul>
    </div>
    <div class="dashboard-Kvk">
        <ul>
            <li>オシリス登録ページ</li>
            <li>オシリスメンバー表</li>
        </ul>
    </div>
    <div class="dashboard-others">
        <ul>
            <li>オシリス登録ページ</li>
            <li>オシリスメンバー表</li>
        </ul>
    </div>
  </div>
</div>
