<div>
    <form [formGroup]="selectedUserAooInfo">
        <mat-form-field>
            <mat-label>ユーザ名</mat-label>
            <input matInput formControlName="userName" placeholder="Ex. betashort" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>チーム</mat-label>
            <mat-select formControlName="userRole" required>
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>移転場所</mat-label>
            <mat-select formControlName="userTeleportArea" required>
                <mat-option *ngFor="let teleportArea of teleportAreas" [value]="teleportArea">{{teleportArea}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>役割詳細</mat-label>
            <textarea matInput formControlName="userRoleDetail" required></textarea>
        </mat-form-field>
    </form>
</div>
<button mat-button (click)="add()">追加</button>

<div cdkDropListGroup>
    <div class="example-container">
        <h2>北</h2>

        <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDrag *ngFor="let item of todo">
                <div >{{item}}</div><button (click)="clearListItem(item, 'north')"><mat-icon>clear</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="example-container">
        <h2>棺</h2>

        <div cdkDropList [cdkDropListData]="doing" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDrag *ngFor="let item of doing">
                <div>{{item}}</div><button (click)="clearListItem(item, 'arc')"><mat-icon>clear</mat-icon></button>
            </div>
        </div>
    </div>
    <div class="example-container">
        <h2>南</h2>

        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDrag *ngFor="let item of done">
                <div >{{item}}</div><button (click)="clearListItem(item, 'south')"><mat-icon>clear</mat-icon></button>
            </div>
        </div>
    </div>
</div>