<h2>ユーザ情報</h2>
<div class="userName">
    <mat-form-field class="example-full-width">
        <mat-label>ユーザ名</mat-label>
        <input matInput placeholder="Ex. betashort">
      </mat-form-field>
</div>
<div class="userID">
    <mat-form-field class="example-full-width">
        <mat-label>ユーザID</mat-label>
        <input matInput placeholder="Ex. 123456789">
      </mat-form-field>
</div>
<div class="userPower">
    <mat-form-field class="example-full-width">
        <mat-label>戦力</mat-label>
        <input matInput placeholder="Ex. 123456789">
      </mat-form-field>
</div>
<div class="userKillPoint">
    <mat-form-field class="example-full-width">
        <mat-label>撃破数</mat-label>
        <input matInput placeholder="Ex. 123456789">
      </mat-form-field>
</div>
