<div class="aoo-teamboard">
  <!-- <form>
    <mat-form-field>
      <mat-select required>
        @for (aooHold of aooHoldList; track aooHold.id) {
        <mat-option [value]="aooHold.id">{{ aooHold.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form> -->
  <button (onclick)="updateMemberlist()">
    <mat-icon fontIcon="sync"></mat-icon>
  </button>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>北</h2>
      <div
        cdkDropList
        [cdkDropListData]="north"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of north; track item) {
        <div class="example-box" cdkDrag>
          <div>{{ item }}</div>
          <button (click)="clearListItem(item, 'north')">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>
    <div class="example-container">
      <h2>棺</h2>

      <div
        cdkDropList
        [cdkDropListData]="arc"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of arc; track item) {
        <div class="example-box" cdkDrag>
          <div>{{ item }}</div>
          <button (click)="clearListItem(item, 'arc')">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>
    <div class="example-container">
      <h2>南</h2>

      <div
        cdkDropList
        [cdkDropListData]="south"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of south; track item) {
        <div class="example-box" cdkDragq>
          <div>{{ item }}</div>
          <button (click)="clearListItem(item, 'south')">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        }
      </div>
    </div>
  </div>
</div>
