<div class="aoo-teamboard">
  <form>
    <mat-form-field>
      <mat-select required [formControl]="selectedAoo">
        @for (aooHold of aooHoldList; track aooHold.id) {
        <mat-option [value]="aooHold.id">{{ aooHold.title }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
  <button (click)="updateMemberlist()">
    <mat-icon fontIcon="sync"></mat-icon>
  </button>
  <table mat-table [dataSource]="aooMemberList">
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> ユーザ名</th>
      <td mat-cell *matCellDef="let element">{{element.user_name}}</td>
    </ng-container>

    <ng-container matColumnDef="user_position">
      <th mat-header-cell *matHeaderCellDef>ポジション</th>
      <td mat-cell *matCellDef="let element">{{element.user_position}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
