<div class="wrap-header">
  <div class="wrap-sidenav-button">
    @if (sidenavSwitch){
    <mat-icon
      class="side-nav-icon"
      fontIcon="menu"
      (click)="clickSidenavToggle()"
    ></mat-icon>
    } @else {
    <mat-icon
      class="side-nav-icon"
      fontIcon="close"
      (click)="clickSidenavToggle()"
    ></mat-icon>
    }
  </div>
  <div class="logo">
    <h2>
      <a routerLink="/dashboard-page"> ROK Dashboard </a>
    </h2>
  </div>
  <nav class="login-logout">
    <ul>
      @if ( loginState ){
      <li>
        <a routerLink="/dashboard-page">
          <mat-icon class="logout-icon" fontIcon="logout" (click)="logout()"></mat-icon>
        </a>
      </li>
      }@else{
      <li>
        <a routerLink="/login">
          <mat-icon class="login-icon" fontIcon="login"></mat-icon>
        </a>
      </li>
      }
    </ul>
  </nav>
</div>
