.side-nav-icon {
    color: white;
}
.logo h2 {
    font-size: 24px;
    color: white;
    font-style: bold;
}
.wrap-header{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #122561;
    justify-content: center;
    align-items: center;
}
.wrap-sidenav-button{
    margin: 10px;
}
.logo { 
    width: 100%;
}
.wrap-navbar{
    
}
.login-icon {
    color: white;
}
.login-out {
    color: white;
}
nav ul {
    text-align: right;
}
nav ul li{
    list-style: none;
    color: black;
    margin: 15px;
}