<!-- Body -->
<div class="dashboard-wrap">
    <div class="dashboard-slide-show">
      <p>スライドーショウを表示する</p>
    </div>
    <section class="card-item">
      <div class="card-title">
        <h3>戦績登録フォーム</h3>
      </div>
      <a roterLink="/result-register-form">
        <img class="card-image" src="../../../../assets/img/kvk-result-form-img.png"
        alt="kvk-result-form-img">
      </a>
      <div class="card-description">
        <p>KVKの戦績を登録することができます。</p>
      </div>
      <div class="card-link">
        <button class="card-button"><a routerLink="/result-register-form"></a>事前登録はこちら</button>
        <button class="card-button"><a routerLink="/result-register-form"></a>戦績登録はこちら</button>
      </div>
    </section>
  
    <section class="card-item">
      <div class="card-title">
        <h3>戦績結果【表/グラフ】</h3>
      </div>
      <a roterLink="/result-register-form">
        <img class="card-image" src="../../../../assets/img/kvk-result-img.png"
        alt="kvk-result-form-img">
      </a>
      <div class="card-description">
        <p>KVKの戦績を確認することができます。</p>
      </div>
      <div class="card-link">
        <button class="card-button"><a routerLink="/result-register-form"></a>事前登録はこちら</button>
        <button class="card-button"><a routerLink="/result-register-form"></a>戦績登録はこちら</button>
      </div>
    </section>
  </div>